<div class="contact-container col-lg-10 clearfix">
    <h1>Contact</h1>

    <div class="col-lg-6 v-divider">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputEmail">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="your@email.com">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputName">Name</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputName" placeholder="How to call you ?">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputMessage">Message</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="5" placeholder="What you want to say to us"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" class="btn btn-primary btn-block input-lg">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <ul class="features-list list-unstyled">
            <li>
                <span class="glyphicon glyphicon-home"></span> http://angelflame.org
            </li>
            <li>
                <span class="glyphicon glyphicon-map-marker"></span> Taipei, Taiwan
            </li>
            <li>
                <span class="glyphicon glyphicon-heart"></span> We build something people love
            </li>
        </ul>
    </div>
</div>
