<div class="contact-container col-lg-10 clearfix">
    <h1>Contact</h1>

    <div class="col-lg-12">
        <ul class="features-list list-unstyled">
            <li>
                <i class="fa fa-heart"></i> We build things people love
            </li>
            <li>
                <i class="glyphicon glyphicon-map-marker"></i> Taipei, Taiwan
            </li>
            <li>
                <i class="fa fa-inbox"></i> <a href="">admin@angelflame.org</a>
            </li>
        </ul>
    </div>
</div>
