<div class="works-container">
    <div class="col-lg-12">
        <h1>Works</h1>
        <!--<p>These are handcrafted works made by us with Love <i class="fa fa-heart"></i></p>-->

        <ul class="works clearfix col-lg-8 col-lg-offset-2">
            <li class="work flip-animation" data-type="{{work.type}}" ng-repeat="work in worksData">
                <div class="flip-container">
                    <div class="front">
                        <div class="image-wrapper">
                            <img ng-src="{{work.logo}}" alt="{{work.name}}">
                            <span class="work-type fa-stack fa-lg {{work.type}}">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa {{work.icon}} fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="work-name">
                            <h2>{{work.name}}</h2>
                        </div>
                    </div>
                    <div class="back">
                        {{work.description}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
