@import "compass/css3";

.reveal-animation.ng-enter {
    @include transition-property(all);
    @include transition-delay(0.5s);
    @include transition-timing-function(linear);
}
.reveal-animation.ng-enter,
.reveal-animation.ng-leave.ng-leave-active {
    @include opacity(0);
}
.reveal-animation.ng-leave,
.reveal-animation.ng-enter.ng-enter-active {
    @include opacity(1);
}

// 

.blur-animation {
    @include filter(blur(2px));
}

.flip-animation {
    -webkit-perspective: 1000;

    &:hover {
        .flip-container {
            -webkit-transform: rotateY(180deg);
        }
    }

    .flip-container {
        position: relative;
        -webkit-transition: -webkit-transform 0.6s;
        -webkit-transform-style: preserve-3d;
    }

    .front,
    .back {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
    }

    .front {
        z-index: 2;
    }

    .back {
        -webkit-transform: rotateY(180deg);
    }
}
