@import "compass/css3";
@import "_mixins.scss";

/*
 * contact.html
 */
.contact-container {
    float: none;
    margin: 6em auto;
    color: #ffffff;
    font-size: 18px;

    h1 {
        display: none;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    .features-list {
        font-size: 24px;
        margin: 3.5em 1.5em;

        // to make them the same width
        i {
            display: inline-block;
            width: 24px;
            text-align: center;
        }

        @include respond-to(handhelds) {
            font-size: 18px;
            padding: 2em 0;
            margin: 0;
        }
    }

    @include respond-to(handhelds) {
        margin: 3em auto 5em auto;

        h1 {
            display: block;
        }
    }
}
