@import "compass/css3";
@import "_mixins.scss";

// override
.label {
    margin: 0 5px 0 0;
}

// angelflame global
html,
body {
    font-family: 'Bubbler One', sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Bubbler One', sans-serif;
    }
}

body {
    // how to addClass when changing routes ?
    &.route-about {
        background: #fcfcfc;
    }
    &.route-contact {
        background: #ffffff;
    }
    &.route-members {
        background: #eeeeee;
    }
}

h1 {
    text-align: center;
    font-size: 48px;
    padding-bottom: 20px; 
    border-bottom: 1px solid #c9c9c9;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

p {
    width: 500px;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 20px;

    @include respond-to(handhelds) {
        width: 100%;
    }
    @include respond-to(wide-handhelds) {
        width: 100%;
    }
}

.container {
    margin-top: 10px;
}

.v-divider {
    border-right: 1px solid #ccc;
}


.glyphicon-fire {
    color: #cc0000;
}

.logo {

    $imgWidth: 600px;
    $imgHeight: 518px;

    div {
        position: fixed;
        width: 50%;
        height: 100%;
        background: white;
        z-index: 1001;
        overflow: hidden;
    }
    img {
        width: $imgWidth;
        height: $imgHeight;
        position: absolute;
        top: 10%;
    }
    .before {
        left: 0;
        background-position: 50% 50%;

        img {
            right: -0.5 * $imgWidth;
        }
    }
    .after {
        right: 0;
        background-position: 0% 50%;

        img {
            left: -0.5 * $imgWidth;
        }
    }
}

/*
 * contact.html
 */
.contact-container {
    float: none;
    margin: 6em auto;

    .features-list {
        margin: 5em 0;
    }
}

/*
 * member.html
 */
.member-container {
    .members {
        margin: 20px 0 0 0;
    }

    .member {
        padding: 10px;
        float: left;
        text-align: center;
        @include calc(width, "100% / 4");

        @include respond-to(handhelds) {
            float: none;
        }

        @include respond-to(wide-handhelds) {
            float: none;
        }

        .avatar-wrapper {
            margin: 0 10px 0 0;

            img {
                $avatarSize: 150px;
                width: $avatarSize;
                height: $avatarSize;
                @include border-radius($avatarSize / 2);
            }
        }

        .member-name {
            margin: 10px 0;
        }
    }

    .details {
        display: none;

        @include respond-to(less-than-wide-handhelds) {
            display: block;
        }
    }

    .shared-detail-window {
        $bgColor: #dddddd;

        position: relative;
        background: $bgColor;
        padding: 30px;
        height: 150px;
        @include border-radius(10px);

        // bubble arrow
        &:before {
            content: " ";
            position: absolute;
            top: -10px;
            width: 0;
            height: 0;
            line-height: 0;
            border-top: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $bgColor;
        }

        @for $i from 0 through 3 {
            &.member-#{$i}:before {
                $leftBase: 25 * $i + 12.5;
                @include calc(left, "#{$leftBase}% - 15px");

                // It will create this 
                //
                // &.member-0:before {
                //     @include calc(left, "12.5% - 15px");
                // }
                // &.member-1:before {
                //     @include calc(left, "37.5% - 15px");
                // }
                // &.third-member:before {
                //     @include calc(left, "62.5% - 15px");
                // }
                // &.fourth-member:before {
                //     @include calc(left, "87.5% - 15px");
                // }
            }
        }

        @include respond-to(less-than-wide-handhelds) {
            display: none;
        }

        .say {
            position: relative;
            font-size: 44px;
            text-align: center;
            // line-height: 90px;
            // height: 100%;
            padding: 0 20px;

            &:before {
                font-family: 'Ariel';
                position: absolute;
                content: "“";
                // top: -10px;
                left: -25px;
            }

            &:after {
                font-family: 'Ariel';
                position: absolute;
                content: "”";
                // bottom: -10px;
                right: -25px;
            }
        }

        .tags {
            margin: 10px 20px;
            text-align: right;

            .icon-tag {
                vertical-align: text-top;
            }
        }
    }
}

/*
 * works.html
 */
.works-container {
    .works {
        text-align: center;
    }
    .work {
        display: inline-block;
        border: 1px solid #ccc;
        h3 {
            background: #ddd;
            padding: 5px;
            margin: 0;
        }
    }
}

/*
 * about.html
 */
.about-container {

}
