@import "compass/css3";
@import "_mixins.scss";

// override
.label {
    margin: 0 5px 0 0;
}

// angelflame global
.container {
    margin-top: 10px;
}

.v-divider {
    border-right: 1px solid #ccc;
}

.logo {

    $imgWidth: 600px;
    $imgHeight: 518px;

    div {
        position: fixed;
        width: 50%;
        height: 100%;
        background: white;
        z-index: 1001;
        overflow: hidden;
    }
    img {
        width: $imgWidth;
        height: $imgHeight;
        position: absolute;
        top: 10%;
    }
    .before {
        left: 0;
        background-position: 50% 50%;

        img {
            right: -0.5 * $imgWidth;
        }
    }
    .after {
        right: 0;
        background-position: 0% 50%;

        img {
            left: -0.5 * $imgWidth;
        }
    }
}

/*
 * contact.html
 */
.contact-container {
    float: none;
    margin: 6em auto;

    .features-list {
        margin: 5em 0;
    }
}

/*
 * member.html
 */
.member {
    padding: 10px;
    border: 1px solid #ccc;
    float: left;
    @include calc(width, "100% / 4");

    .avatar-wrapper {
        margin: 0 10px 0 0;

        img {
            $avatarSize: 150px;
            width: $avatarSize;
            height: $avatarSize;
            @include border-radius($avatarSize / 2);
        }
    }
}
