.reveal-animation.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.reveal-animation.ng-enter,
.reveal-animation.ng-leave.ng-leave-active {
  opacity: 0;
}

.reveal-animation.ng-leave,
.reveal-animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.label {
  margin: 0 5px 0 0;
}

html,
body {
  font-family: 'Bubbler One', sans-serif;
  height: 100%;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Bubbler One', sans-serif;
}

body.route-about {
  background: url(../img/sky.jpg);
  background-size: cover;
  color: #ffffff;
}
body.route-contact {
  background: #ffffff;
}
body.route-members {
  background: #eeeeee;
}

h1 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c9c9c9;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

p {
  width: 500px;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media only screen and (max-width: 479px) {
  p {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  p {
    width: 100%;
  }
}

.container {
  padding-top: 10px;
}

.v-divider {
  border-right: 1px solid #ccc;
}

.glyphicon-fire {
  color: #f14949;
}

.logo div {
  position: fixed;
  width: 50%;
  height: 100%;
  background: white;
  z-index: 1001;
  overflow: hidden;
}
.logo img {
  width: 600px;
  height: 518px;
  position: absolute;
  top: 10%;
}
.logo .before {
  left: 0;
  background-position: 50% 50%;
}
.logo .before img {
  right: -300px;
}
.logo .after {
  right: 0;
  background-position: 0% 50%;
}
.logo .after img {
  left: -300px;
}

/*
 * contact.html
 */
.contact-container {
  float: none;
  margin: 6em auto;
}
.contact-container .features-list {
  margin: 5em 0;
}

/*
 * member.html
 */
.member-container .members {
  margin: 20px 0 0 0;
}
.member-container .member {
  padding: 10px;
  float: left;
  text-align: center;
  width: -moz-calc(100% / 4);
  width: -o-calc(100% / 4);
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
}
@media only screen and (max-width: 479px) {
  .member-container .member {
    float: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .member-container .member {
    float: none;
  }
}
.member-container .member .avatar-wrapper {
  margin: 0 10px 0 0;
}
.member-container .member .avatar-wrapper img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
}
.member-container .member .member-name {
  margin: 10px 0;
}
.member-container .details {
  display: none;
}
@media only screen and (max-width: 767px) {
  .member-container .details {
    display: block;
  }
}
.member-container .shared-detail-window {
  position: relative;
  background: #dddddd;
  padding: 30px;
  height: 150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.member-container .shared-detail-window:before {
  content: " ";
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dddddd;
}
.member-container .shared-detail-window.member-0:before {
  left: -moz-calc(12.5% - 15px);
  left: -o-calc(12.5% - 15px);
  left: -webkit-calc(12.5% - 15px);
  left: calc(12.5% - 15px);
}
.member-container .shared-detail-window.member-1:before {
  left: -moz-calc(37.5% - 15px);
  left: -o-calc(37.5% - 15px);
  left: -webkit-calc(37.5% - 15px);
  left: calc(37.5% - 15px);
}
.member-container .shared-detail-window.member-2:before {
  left: -moz-calc(62.5% - 15px);
  left: -o-calc(62.5% - 15px);
  left: -webkit-calc(62.5% - 15px);
  left: calc(62.5% - 15px);
}
.member-container .shared-detail-window.member-3:before {
  left: -moz-calc(87.5% - 15px);
  left: -o-calc(87.5% - 15px);
  left: -webkit-calc(87.5% - 15px);
  left: calc(87.5% - 15px);
}
@media only screen and (max-width: 767px) {
  .member-container .shared-detail-window {
    display: none;
  }
}
.member-container .shared-detail-window .say {
  position: relative;
  font-size: 44px;
  text-align: center;
  padding: 0 20px;
}
.member-container .shared-detail-window .say:before {
  font-family: 'Ariel';
  position: absolute;
  content: "“";
  left: -25px;
}
.member-container .shared-detail-window .say:after {
  font-family: 'Ariel';
  position: absolute;
  content: "”";
  right: -25px;
}
.member-container .shared-detail-window .tags {
  margin: 10px 20px;
  text-align: right;
}
.member-container .shared-detail-window .tags .icon-tag {
  vertical-align: text-top;
}

/*
 * works.html
 */
.works-container .works {
  text-align: center;
}
.works-container .work {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.works-container .work img {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.works-container .work .details {
  padding: 5px;
  padding-bottom: 0;
  margin-top: 1em;
}
.works-container .work h2 {
  margin: 0;
}
.works-container .image-wrapper {
  position: relative;
}
.works-container .image-wrapper .work-type {
  position: absolute;
  text-align: left;
  left: 50%;
  bottom: 0;
  margin-left: -1em;
  margin-bottom: -1em;
  color: tomato;
  border: 1px solid #ffffff;
  background: #ffffff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.works-container .image-wrapper .work-type.app {
  color: tomato;
}
.works-container .image-wrapper .work-type.website {
  color: cornflowerblue;
}

/*
 * about.html
 */
.about-container {
  margin-top: 8em;
}
