.label {
  margin: 0 5px 0 0;
}

.container {
  margin-top: 10px;
}

.v-divider {
  border-right: 1px solid #ccc;
}

.logo div {
  position: fixed;
  width: 50%;
  height: 100%;
  background: white;
  z-index: 1001;
  overflow: hidden;
}
.logo img {
  width: 600px;
  height: 518px;
  position: absolute;
  top: 10%;
}
.logo .before {
  left: 0;
  background-position: 50% 50%;
}
.logo .before img {
  right: -300px;
}
.logo .after {
  right: 0;
  background-position: 0% 50%;
}
.logo .after img {
  left: -300px;
}

/*
 * contact.html
 */
.contact-container {
  float: none;
  margin: 6em auto;
}
.contact-container .features-list {
  margin: 5em 0;
}

/*
 * member.html
 */
.member {
  padding: 10px;
  border: 1px solid #ccc;
  float: left;
  width: -moz-calc(100% / 4);
  width: -o-calc(100% / 4);
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
}
.member .avatar-wrapper {
  margin: 0 10px 0 0;
}
.member .avatar-wrapper img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
}
